@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), url("../fonts/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"), url("../fonts/roboto-v30-latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), url("../fonts/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff"), url("../fonts/roboto-v30-latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin-900.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), url("../fonts/roboto-v30-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin-900.woff") format("woff"), url("../fonts/roboto-v30-latin-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Raleway"), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
body {
  color: #757575;
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
}

/* Глобальне скидання стилів по тегам*/
h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Логотип */
.logo {
  color: #2196F3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__accent {
  color: #000000;
}

/* header */
.page-header {
  border-bottom: 1px solid rgb(84, 161, 84);
}

.container--header {
  display: flex;
  align-items: center;
}

.bloc-nav {
  display: flex;
}
.bloc-nav__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation-list {
  list-style: none;
  display: flex;
  margin-left: 93px;
}
.navigation-list__item:not(:first-child) {
  margin-left: 50px;
}
.navigation-list__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list__link:hover, .navigation-list__link:focus {
  color: #2196F3;
}
.navigation-list__link--current {
  color: #2196F3;
}
.navigation-list__link--current::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.box {
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  background-color: rgb(84, 161, 84);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.box:not(:last-child) {
  margin-bottom: 100px;
}

.title {
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

.cat-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cirkle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 3px solid;
  border-color: #000000;
  position: relative;
  background-color: #2196F3;
  margin-left: 300px;
  opacity: 1;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-name: loading;
          animation-name: loading;
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
    right: 0px;
    top: 0px;
  }
  25% {
    opacity: 1;
    right: 250px;
    top: 150px;
  }
  50% {
    opacity: 1;
    right: 0px;
    top: 350px;
  }
  75% {
    opacity: 1;
    right: 250px;
    top: 0px;
  }
  100% {
    opacity: 1;
    right: 0px;
    top: 0px;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
    right: 0px;
    top: 0px;
  }
  25% {
    opacity: 1;
    right: 250px;
    top: 150px;
  }
  50% {
    opacity: 1;
    right: 0px;
    top: 350px;
  }
  75% {
    opacity: 1;
    right: 250px;
    top: 0px;
  }
  100% {
    opacity: 1;
    right: 0px;
    top: 0px;
  }
}
.cat-descr {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-align: center;
  margin-bottom: 20px;
  -webkit-animation-iteration-count: 4;
          animation-iteration-count: 4;
}

.parallax {
  background-image: url(/images/pexels-photo-164022.jpeg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  height: auto;
  background-color: #F5F4FA;
  font-size: 30px;
  text-align: justify;
  padding: 30px;
}

.blend {
  display: flex;
  justify-content: center;
  position: relative;
}

.blend h1 {
  font-size: 80px;
  color: #000000;
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  mix-blend-mode: overlay;
}/*# sourceMappingURL=main.css.map */