.box {
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    background-color: $animate-box-color;

    border-radius: 50%;
    display: flex;
    justify-content: center;

    overflow: hidden;


    &:not(:last-child) {
        margin-bottom: 100px;
    }
}

.title {
    color: $accent-text-color;
    background-color: $primary-accent-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    padding: 20px;
    margin-bottom: 20px;
    animation-iteration-count: 4;
}

.cat-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-descr {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: $primary-accent-color;
    text-align: center;
    margin-bottom: 20px;
    animation-iteration-count: 4;
}