.blend {
    display: flex;
    justify-content: center;
    position: relative;
}

.blend h1 {
    font-size: 80px;
    color: $secondary-text-color;
    text-transform: uppercase;
    position: absolute;
    top: 200px;
    mix-blend-mode: overlay;
}