$primary-text-color: #757575;
$secondary-text-color:#000000;
$title-text-color: #212121;
$accent-text-color:#FFFFFF;
$link-text-color: rgba(255, 255, 255, 0.6);

$primary-accent-color: #2196F3;
$secondary-accent-color: #188CE8;

$primary-background-color: #FFFFFF;
$secondary-background-color: #F5F4FA;
$animate-box-color: rgb(84, 161, 84);

$header-border-color: #ECECEC; 

$font-family-basic: Roboto, sans-serif;
$font-family-special: 'Raleway';
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);